In [2]:
print("This is my first line of code in python")

This is my first line of code in python

In [3]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [5]:
#++ and -- (increment and decrement operators don't exist)

a = 2
b = 7
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a // b)
print(a % b) 
print(a ** b)

9
-5
14
0.2857142857142857
0
2
128

In [6]:
#BEDMAS
print(4 * 5 - 9 + 6 / 7)

11.857142857142858

In [7]:
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

10
9

In [8]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

True
False
True
True
True

In [13]:
_small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

_I AM UPPER CASED
i am lower cased

In [14]:
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [15]:
increment = '4%'
print(increment.rstrip('%'))

4

In [16]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [17]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [18]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [31]:
val = "123456789"


#val = "2 apples"
#no_of_apples = val[2:] 
#print('number of apples is', no_of_apples)

print(val[0:-2:2])

1357

In [26]:
what = val[2:]
print(what)

3456789

In [27]:
#slicing by specifying start and end index
print(val[2:5])

345

In [32]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [33]:
print(batch[ :-2])

5 oranges 3 monkeys

In [34]:
animals = batch[10:-2]
print(animals)

3 monkeys

In [35]:
# Notice the difference :, :: 
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [36]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [ ]:
odd_nums_again = nums[ :: 2]

In [43]:
first_name = "parul"
last_name = 'jain'

In [44]:
name = first_name + " " + last_name
print(name)

parul jain

In [46]:
age = 15
my_age = ("I am "+ str(age) + " years old")

In [48]:

My_age = "I am {0} years old".format(age)

In [49]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [50]:
#concat and update
name += ' ' + my_age
print(name)

parul jain I am 15 years old

In [51]:
crush = "Enrique Iglesias"
print("I love {0}".format(crush) )

I love Enrique Iglesias